body {
    background: greenyellow;
}

.login_div1,
.login_div2 {
    background: white;
    padding: 13px;
    float: none;
    border-radius: 17px;
}

#player1_name,
#player2_name {
    display: inline-block;
    margin-left: 22px;
}

#word {
    width: 60%;
}

#word_display {
    letter-spacing: 6px;
}

#output {
    background: rgb(218, 107, 107);
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 15px;
    float: none;
    text-align: left;
}